.gauge-wrapper {
  display: inline-block;
  position: relative;
  transform: rotate(calc(var(--arcLengthDeg) / 2));
}
.gauge {
  align-items: center;
  border: var(--borderSizePx) solid black;
  border-radius: 50%;
  display: flex;
  height: calc(var(--radiusPx) * 2);
  justify-content: center;
  overflow: hidden;
  position: relative;
  transform-origin: center;
  width: calc(var(--radiusPx) * 2);
}
.gauge .arrowWrapper {
  height: var(--borderSizePx);
  transform: translateX(calc(var(--innerCircleDiameterPx) / 4))
    rotate(var(--arrowAngleDeg, -90deg));
  transform-origin: left;
  width: calc(var(--innerCircleDiameterPx) / 2);
}
.gauge .arrowWrapper::after {
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid black;
  content: "";
  position: absolute;
  right: 0;
  top: calc(-16px + (var(--borderSizePx) / 2));
}
.gauge .marker {
  background-color: black;
  border-radius: 12px;
  height: var(--borderSizePx);
  position: absolute;
  width: var(--markerLengthPx);
}
.fraction {
  height: calc(var(--radiusPx) * 2);
  position: absolute;
  transform: translateX(50%) rotate(var(--fractionAngleOffsetDeg, 0deg));
  transform-origin: left;
  width: calc(var(--radiusPx) * 2);
}
.fraction::before,
.fraction::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
.fraction::before {
  background-color: var(--fractionBgColor);
  transform: translateX(-100%) rotate(var(--fractionAngleDeg, 0deg));
  transform-origin: right;
}
.fraction::after {
  background-color: var(--fractionBgColor);
  opacity: var(--over50, 0);
}
.gauge .innerCircle {
  background: var(--bgColor);
  border-radius: 50%;
  height: var(--innerCircleDiameterPx, 0px);
  position: absolute;
  width: var(--innerCircleDiameterPx, 0px);
}
.gauge .valueText {
  color: black;
  font-size: var(--valueFontSize, 2.5rem);
  position: absolute;
  transform: rotate(calc((var(--arcLengthDeg) / 2) * -1));
  z-index: 1;
}
.maxValueText {
  padding: 5px;
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 3;
}
